<html dir="rtl">
  <header>
    <!--<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet">-->
    <link href='https://fonts.googleapis.com/css?family=Amiri' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <script src="./js/index.js" type="module"></script>
    <script src="./js/kitabDiff.js" type="module"></script>
    <script src="./js/openITI.js" type="module"></script>
    <script src="./js/wikEdDiff.js" type="module"></script>
  </header>
<body>
  <div id="header">
    <img src="../images/sirahTopImage.png" alt="Logo" height="200">
  </div>
  <div id="menu-bar">
    TOP_MENU_BAR_HERE
  </div>
  <div>
    <div id="menuToggle">
      <button id="openSidebarBtn" class="openbtn hidden">&#9776;</button>
    </div>
    <div id="dashboard" class="sidebar">  
      <a href="javascript:void(0)" id="closeSidebarBtn" class="closebtn">&times;</a>
      <a id="witnessListLink">witness versions</a>
      <div id="witnessList" class="hidden">
        WITNESS_LIST_HERE
      </div>
      SIDE_MENU_BAR_HERE
    </div>
    <div id="pageContent">
      PAGE_CONTENT_HERE
    </div>
    TABLE_OF_CONTENTS_HERE
  </div>
</body>

</html>
